@font-face {
    font-family: 'Comic';
    src: url(../fuentes/ComicNeue-Bold.ttf);

}

@font-face {
    font-family: 'Comic-textos';
    src: url(../fuentes/ComicNeue-Regular.ttf);

}

@keyframes cambiar-fondo {
    0% {
        background-image: url(../imagenes/fondo-donas8.JPG);
        background-size: cover;
    }

    25% {
        background-image: url(../imagenes/fondo-donas4.jpg);
        background-size: cover;
    }

    50% {
        background-image: url(../imagenes/fondo-donas2.JPG);
        background-size: cover;
    }

    75% {
        background-image: url(../imagenes/Fondo-donas6.jpg);
        background-size: cover;
    }

    100% {
        background-image: url(../imagenes/fondo-donas8.JPG);
        background-size: cover;
    }
}

@keyframes mover-elemento {

    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(-200px);
        color: blueviolet;
    
    }


}

* {
    box-sizing: border-box;
    font-family: Comic;
    margin: 0;

}



body {
    background-color: bisque;
}


.navbar div {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.menu-link {
    border-radius: 15px;
    transition: background-color 2s;
}

.menu-link:hover {
    background-color: aqua;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}


.posicion {
    margin-left: 70px;
    margin-right: 70px;

}

.logos-redes {
    width: 25px;
    padding: 0px;
    margin: 0px;

}

.titulo-nvar {
    color: white;
    display: inline-block;
    font-family: Comic;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;

    align-items: center;
}

.producto {
    background-color: white;
    border: 1px solid;
    border-radius: 1em;
    min-height: 100px;
}

.imagen-producto {
    overflow: hidden;
}

.imagen-producto img {
    display: block;
    width: 100%;
}

.productos-imagenes {
    width: 100%;
}


.contenedor-relative {
    position: relative;
}

.img-float-r {
    float: right;
    width: 300px;
    margin: 5px;
    border-radius: 15px;
    clear: right;
}

.img-float-l {
    float: left;
    width: 300px;
    margin: 5px;
    border-radius: 10px;
    clear: right;
}

.fondo {
    /* background-image: url(../imagenes/Fondo-donas7.jpg); */

    background-position: center;
    height: 450px;
    background-attachment: fixed;



    /* Animaciones Keyframes (Animaciones que se corren solas, sin necesidad de la iteración del usuario */
    animation-name: cambiar-fondo;
    /* Duración de la animación */
    animation-duration: 6s;
    /* El ciclo se hace infinito */
    animation-iteration-count: infinite;

    /* Short hand */
    /* animation: cambiar-fondo 5s infinite; */

}

.texto-imagen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    color: blanchedalmond;

    bottom: 10px;
    left: 20px;
}

.video-float {
    float: left;
    border-radius: 10px;
    width: 360px;
    height: 215px;
    margin: 5px;
    clear: left;

}


.imagenes {
    width: 200px;

}

.imagen-logo {
    width: 70px;
    height: auto;

    flex-basis: 10%;
    padding: 0.5em;
    display: inline-block;

}

.menu {
    align-self: center;
}

.redes-sociales {
    position: fixed;
    bottom: 30%;
    right: 20px;

}

.redes-sociales-link {
    display: block;

    /* Estado inicial */
    transform: scale(1);
    transition: transform 700ms;
}

.redes-sociales-link:hover {
    /* Estado Final */
    transform: scale(1.3);

}

.redes-sociales img {
    width: 35px;
}

.footer-h3 {
    animation: mover-elemento 4s infinite ease-in-out;
}