.titulos {
    font-size: 4em;
    font-family: Comic;
    text-align: center;
    padding: 5px;
}

.titulos2 {
    font-family: Comic;
    font-size: 2em;

}

.titulo-principal {
    font-size: 4em;
    font-family: Comic;
    display: inline;
}

.textos {
    font-family: 'Comic-textos';
    font-size: 1em;
}

.header {
    background-color: rgba(0, 0, 0, 0.849);
  
    margin: 0;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

.navbar {
    background-color:rgba(0, 0, 0, 0.849);
    font-size: 22px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 20px;
}

.footer {
    background-color:rgba(0, 0, 0, 0.849);
    color: white;
    justify-content: center;
    display: flex;

    padding: 1em;

    font-size: 30px;
}

